*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    --morado: #512888;
    --naranja: #eb6123;
    --blanco: #FFF;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(img/bullterrier.png) no-repeat;
    background-size: cover;
    background-position: center;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 5rem;
    background-color: var(--morado);
    box-shadow: 0 .3rem .9rem rgba(0, 0, 0, 0.06);
    z-index: 99;
}

.hamburguesa{
    position: relative;
    display: block;
    width: 2.25rem;
    height: 2.25rem;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburguesa .bar,
.hamburguesa::after,
.hamburguesa::before{
    content: '';
    display: block;
    width: 100%;
    height: .313rem;
    background-color: var(--blanco);
    margin: .375rem 0;
    transition: .4s;
}

.hamburguesa.isActive::before{
    transform: rotate(-45deg) translate(-.5rem, .375rem);
}

.hamburguesa.isActive::after{
    transform: rotate(45deg) translate(-.563rem, -.5rem);
}

.hamburguesa.isActive .bar{
    opacity: 0;
}

.responsive{
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: var(--morado);
    padding-top: 7.5rem;
    transition: .4s; 
}

.responsive.isActive{
    left: 0;
}

.responsive a {
    display: block;
    width: 100%;
    max-width: 12.5rem;
    margin: 0 auto 1rem;
    text-align: center;
    padding: .75rem 1rem;
    border-radius: 1rem;
    background-color: #9261d1; 
    color: var(--blanco);
    text-decoration: none;
}

.responsive a:hover{
    background-color: var(--naranja);
}

@media (min-width:51.875rem){
    .hamburguesa{
        display: none;
    }

    .responsive{
        display: none;
    }
}

@media (max-width:51.875rem){
    .navbar{
        display: none;
    }
}

.navbar a{
    position: relative;
    margin-left: 3rem;
    font-weight: 600;
    font-size: 1.1em;
    text-decoration: none;

    color: #0000;
    background: 
      linear-gradient(90deg,var(--naranja) 50%,var(--blanco) 0) 
      var(--_p,100%)/200% no-repeat;
    -webkit-background-clip: text;
            background-clip: text;
    transition: .3s;
}
  .navbar a:hover {
    --_p: 0%;
}

.wrapper{
    position: relative;
    width: 25rem;
    height: 27.5rem;
    background: transparent;
    border: 0.19rem solid var(--morado);
    border-radius: 1.3rem;
    backdrop-filter: blur(1.3rem);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height .3s ease;
    overflow: hidden;
}

.wrapper.active{
    height: 32.5rem;
}

.wrapper .form{
    width: 100%;
    padding: 2.5rem;
}

.wrapper .form.Login{
     /*display: none;*/
    transition: transform .18s ease;
    transform: translateX(0rem);
}

.wrapper.active .form.Login{
    /*display: none;*/
    transition: none;
    transform: translateX(-25rem);
}

.wrapper.active .form.Register{
    /*display: none;*/
    transition: transform .18s ease;
    transform: translateX(0rem);
}

.wrapper .form.Register{
    position: absolute;
    transform: translateX(25rem);
}

.form.Login h2, 
.form.Register h2{
    font-size: 2.5rem;
    color: var(--naranja);
    text-align: center;
    /*text-shadow: -.06rem 0 white, 0 .06rem white, .06rem 0 white, 0 -.06rem white;*/
}

.inputBox{
    position: relative;
    width: 100%;
    height: 2.8rem;
    border-bottom: .13rem solid var(--morado);
    margin: 1.875rem 0;
}

.inputBox label{
    position: absolute;
    top: 50%;
    left: .3rem;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: var(--morado);
    font-weight: 500;
    pointer-events: none;
    transition: .4s;
}

.inputBox input:focus~label,
.inputBox input:valid~label{
    top: .1rem;
}
.inputBox input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 2.19rem 0 .3rem;
}

.inputBox .icon{
    position: absolute;
    right: .5rem;
    font-size: 1.2em;
    color: var(--blanco);
    line-height: 3.56rem;
}

.forgotPassword{
    font-size: .9em;
    color: var(--blanco);
    font-weight: 500;
    margin: -.94rem 0 .94rem;
    display: flex;
    justify-content: center;
}

.forgotPassword a{
    color: var(--blanco);
    text-decoration: none;
}

.forgotPassword a:hover{
    text-decoration: underline;
    color: var(--naranja);
}

.btnLogin{
    width: 100%;
    height: 2.8rem;
    border: none;
    outline: none;
    border-radius: .4rem;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 500;
    color: var(--blanco);
    background-color: var(--naranja);
}

.btnLogin:hover{
    background-color: var(--morado);
    transition: .4s;
}

.crearCuenta{
    font-size: .9em;
    color: var(--blanco);
    text-align: center;
    font-weight: 500;
    margin: 1.53rem 0 .625rem;
}

.crearCuenta p a{
    color: var(--morado);
    text-decoration: none;
    font-weight: 600;
}

.crearCuenta p a:hover{
    text-decoration: underline;
    color: var(--naranja);
}
/*****************FIN DEL LOGIN*******************/

#welcome{
    background-image: url("img/perroPaseo.jpg");
    opacity: 50%;
    height: 90vh;
    width: 20%;
    background-position: top 20% right 0;
    background-size: cover;
    /*position: fixed;*/    
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#welcome h1{
    /* position: absolute;    */
    color: var(--naranja);
}

#welcome p{
    /* position: absolute; */
    width: 50%;
    
}

#welcome button{
    /* position: absolute; */
    width: 30%;
    height: 2.8rem;
    border: none;
    outline: none;
    border-radius: .4rem;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 500;
    color: var(--blanco);
    background-color: var(--naranja);
}

#welcome button:hover{
    background-color: var(--morado);
    transition: .4s;
}




/***********CALENDARIO**************/
.calendly-inline-widget{
    /* position: absolute; */
    width: 63rem;
    height: 44rem;
    background: transparent;
    border: 0.19rem solid var(--morado);
    border-radius: 1.3rem;
    backdrop-filter: blur(1.3rem);
    /* display: flex; */
    /* justify-content: flex-end; */
    /* align-items: flex-end; */
    /* transition: height .3s ease; */
    overflow: hidden;
    margin: 0;
    padding: 0;
}
/***********FIN DE CALENDARIO**************/