<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CUIDADORES</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" 
    referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
</head>
    <body>
        <header>
            <nav class="navbar">
                <a class="active" href="/perfil"><i class="fa-solid fa-user"></i></a><!--muestra las mascotas del usuarios-->
                <a class="active" href="/index">Home</a>
                <a class="active" href="/packs">Agendar Cita</a><!--Te muestra los packs, los cuales ya tendran testimonios  y al seleccionarlo te muestra el calendario-->
                <a class="active" href="/cuidadores">Cuidadores</a><!--Solo imagenes y texto de lo que pasean-->
                <a class="active" href="/pFrecuentes">Preguntas Frecuentes</a><!--Es solo para instruir al usuario y que sepa solo manejamos paypal/nequi--> 
            </nav>
            <button class="hamburguesa">
                <div class="bar"></div>
            </button>
        </header>
        <nav class="responsive">
            <a class="active" href="/perfil"><i class="fa-solid fa-user"></i></a><!--muestra las mascotas del usuarios-->
            <a class="active" href="/index">Home</a>
            <a class="active" href="/packs">Agendar Cita</a><!--Te muestra los packs, los cuales ya tendran testimonios  y al seleccionarlo te muestra el calendario-->
            <a class="active" href="/cuidadores">Cuidadores</a><!--Solo imagenes y texto de lo que pasean-->
            <a class="active" href="/pFrecuentes">Preguntas Frecuentes</a><!--Es solo para instruir al usuario y que sepa solo manejamos paypal/nequi--> 
        </nav>
        <!--Inicio de la clase login-->
        <div class="Cuidadores">
            <div class="perfilCuidadores-1">
                <li id="datosCuidadores">Foto de perfil</li>
                <li id="datosCuidadores">Breve bibliografia</li>
                <li id="datosCuidadores">Edad</li>
                <li id="datosCuidadores">Sexo</li>
                <li id="datosCuidadores">Pasatiempo</li>
            </div>
        </div>
        <div class="Cuidadores">
            <div class="perfilCuidadores-2">
                <li id="datosCuidadores">Foto de perfil</li>
                <li id="datosCuidadores">Breve bibliografia</li>
                <li id="datosCuidadores">Edad</li>
                <li id="datosCuidadores">Sexo</li>
                <li id="datosCuidadores">Pasatiempo</li>
            </div>
        </div>
        <div class="Cuidadores">
            <div class="perfilCuidadores-3">
                <li id="datosCuidadores">Foto de perfil</li>
                <li id="datosCuidadores">Breve bibliografia</li>
                <li id="datosCuidadores">Edad</li>
                <li id="datosCuidadores">Sexo</li>
                <li id="datosCuidadores">Pasatiempo</li>
            </div>
        </div>
        
        <script src="/scriptLogin.js"></script>
    </body>
</html>