<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INICIO</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" 
    referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
</head>
    <body>
        <header>
            <nav class="navbar">
                <a class="active" href="/perfil"><i class="fa-solid fa-user"></i></a><!--muestra las mascotas del usuarios-->
                <a class="active" href="/index">Home</a>
                <a class="active" href="/packs">Agendar Cita</a><!--Te muestra los packs, los cuales ya tendran testimonios  y al seleccionarlo te muestra el calendario-->
                <a class="active" href="/cuidadores">Cuidadores</a><!--Solo imagenes y texto de lo que pasean-->
                <a class="active" href="/pFrecuentes">Métodos de pago</a><!--Es solo para instruir al usuario y que sepa solo manejamos paypal/nequi--> 
            </nav>
            <button class="hamburguesa">
                <div class="bar"></div>
            </button>
        </header>
        <nav class="responsive">
            <a class="active" href="/perfil"><i class="fa-solid fa-user"></i></a><!--muestra las mascotas del usuarios-->
            <a class="active" href="/index">Home</a>
            <a class="active" href="/packs">Agendar Cita</a><!--Te muestra los packs, los cuales ya tendran testimonios  y al seleccionarlo te muestra el calendario-->
            <a class="active" href="/cuidadores">Cuidadores</a><!--Solo imagenes y texto de lo que pasean-->
            <a class="active" href="/pFrecuentes">Métodos de pago</a><!--Es solo para instruir al usuario y que sepa solo manejamos paypal/nequi--> 
        </nav>
        <!--Inicio de la clase login-->
        <div class="menuUno">
            <ul class="acordeon">
                <li>
                    <input type="radio" name="acordeon" id="primero" checked>
                    <label for="primero">PAQUETE #1</label>
                    <div class="contenidoAcordeon">
                        <p>Diviertete con nuestra cuidadores 1 vez a la semana en conjunto con otros caninos. Haz click en el botón para agendar tu cita.
                        </p>
                        <a href="https://calendly.com/martin-tejeira/45min">
                            <button type="submit">AGENDAR CITA</button>
                        </a>
                    </div>
                </li>
                <li>
                    <input type="radio" name="acordeon" id="segundo">
                    <label for="segundo">PAQUETE #2</label>
                    <div class="contenidoAcordeon">
                        <p>Este es nuestro plan más vendido, disfruta de nuestra compañia ahora 2 veces por semana con golosinas incluidas.
                        </p>
                        <a href="https://calendly.com/martin-tejeira/paseo-2-veces-a-la-semana">
                            <button type="submit">AGENDAR CITA</button>
                        </a>
                    </div>
                </li>
                <li>
                    <input type="radio" name="acordeon" id="tercero">
                    <label for="tercero">PAQUETE #3</label>
                    <div class="contenidoAcordeon">
                        <p>Si tu mascota tiene gran energía seguramente este paquete le gustará. Podrá soltar todo ese impetí con nuestros cuidadores durante todo el mes, ¡agenda tu cita ya!
                        </p>
                        <a href="https://calendly.com/martin-tejeira/paseo-mensual">
                            <button type="submit">AGENDAR CITA</button>
                        </a>
                    </div>
                </li>
                <li>
                    <input type="radio" name="acordeon" id="cuarto">
                    <label for="cuarto">PAQUETE #4</label>
                    <div class="contenidoAcordeon">
                        <p>Entendemos que tu mascota no es como cualquiera y disfruta de su propia compañía. Con este paquete su canino tendrá la oportunidad de disfrutar un paseo totalmente personalizado. Puede ser ideal para perros que sufran de alguna condición genética específica.
                        </p>
                        <a href="https://calendly.com/martin-tejeira/paseo-personalizado">
                            <button type="submit">AGENDAR CITA</button>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <script src="/scriptLogin.js"></script>
    </body>
</html>