<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INICIO</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" 
    referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/style.css">
</head>
    <body>
        <header>
            <nav class="navbar">
                <a class="active" href="/perfil"><i class="fa-solid fa-user"></i></a><!--muestra las mascotas del usuarios-->
                <a class="active" href="/index">Home</a>
                <a class="active" href="/packs">Agendar Cita</a><!--Te muestra los packs, los cuales ya tendran testimonios  y al seleccionarlo te muestra el calendario-->
                <a class="active" href="/cuidadores">Cuidadores</a><!--Solo imagenes y texto de lo que pasean-->
                <a class="active" href="/payment">Métodos de pago</a><!--Es solo para instruir al usuario y que sepa solo manejamos paypal/nequi--> 
            </nav>
            <button class="hamburguesa">
                <div class="bar"></div>
            </button>
        </header>
        <nav class="responsive">
            <a class="active" href="/perfil"><i class="fa-solid fa-user"></i></a><!--muestra las mascotas del usuarios-->
            <a class="active" href="/index">Home</a>
            <a class="active" href="/packs">Agendar Cita</a><!--Te muestra los packs, los cuales ya tendran testimonios  y al seleccionarlo te muestra el calendario-->
            <a class="active" href="/cuidadores">Cuidadores</a><!--Solo imagenes y texto de lo que pasean-->
            <a class="active" href="/payment">Métodos de pago</a><!--Es solo para instruir al usuario y que sepa solo manejamos paypal/nequi--> 
        </nav>
        <!--Inicio de la clase login-->
        <div class="menuUno">
            <div class="cortina">
                <input type="checkbox" id="cortina-head1">
                <label for="cortina-head1">PAQUETE #1</label>
                <i class="fa-solid fa-arrow-right"></i>
                <div class="cortina-text">
                    <h2>Paseo 1 vez a la semana</h2>
                    <p>Lleva a tu mascota con nosotros a divertirse una vez a la semana con su familia canina</p>
                </div>
            </div>
            <div class="cortina">
                <input type="checkbox" id="cortina-head2">
                <label for="cortina-head2">PAQUETE #2</label>
                <i class="fa-solid fa-arrow-right"></i>
                <div class="cortina-text">
                    <h2>Paseo 3 vez a la semana</h2>
                    <p>¡Crea el hábito de la caminata con este paquete y has que tu mascota genere un hábito nuevo caminando con nosotros!</p>
                </div>
            </div>
            <div class="cortina">
                <input type="checkbox" id="cortina-head3">
                <label for="cortina-head3">PAQUETE #3</label>
                <i class="fa-solid fa-arrow-right"></i>
                <div class="cortina-text">
                    <h2>Paseo toda vez a la semana</h2>
                    <p>Perfecto para todas aquellas mascotas que tienen un alto nivel de hiperactividad o de obesidad</p>
                </div>
            </div>
            <div class="cortina">
                <input type="checkbox" id="cortina-head4">
                <label for="cortina-head4">PAQUETE #4</label>
                <i class="fa-solid fa-arrow-right"></i>
                <div class="cortina-text">
                    <h2>Paseo Personalizado</h2>
                    <p>Has sentir a tu perro como un rey llevándose toda la atención con un pasea exclusivo y único para el/ella</p>
                </div>
            </div>
        </div>
        <script src="/scriptLogin.js"></script>
    </body>
</html>