<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MÉTODO DE PAGO</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" 
    referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/style.css">
</head>
    <body>
        <header>
            <nav class="navbar">
                <a class="active" href="/perfil"><i class="fa-solid fa-user"></i></a><!--muestra las mascotas del usuarios-->
                <a class="active" href="/index">Home</a>
                <a class="active" href="/packs">Agendar Cita</a><!--Te muestra los packs, los cuales ya tendran testimonios  y al seleccionarlo te muestra el calendario-->
                <a class="active" href="/cuidadores">Cuidadores</a><!--Solo imagenes y texto de lo que pasean-->
                <a class="active" href="/payment">Métodos de pago</a><!--Es solo para instruir al usuario y que sepa solo manejamos paypal/nequi--> 
            </nav>
            <button class="hamburguesa">
                <div class="bar"></div>
            </button>
        </header>
        <nav class="responsive">
            <a class="active" href="/perfil"><i class="fa-solid fa-user"></i></a><!--muestra las mascotas del usuarios-->
            <a class="active" href="/index">Home</a>
            <a class="active" href="/packs">Agendar Cita</a><!--Te muestra los packs, los cuales ya tendran testimonios  y al seleccionarlo te muestra el calendario-->
            <a class="active" href="/cuidadores">Cuidadores</a><!--Solo imagenes y texto de lo que pasean-->
            <a class="active" href="/payment">Métodos de pago</a><!--Es solo para instruir al usuario y que sepa solo manejamos paypal/nequi--> 
        </nav>
        <!--Inicio de la clase login-->
        <h2>Método de pago</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, minus aperiam maiores impedit odit magni.</p>
        <h2>¿Qué es Paypal?</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit fuga et ullam earum molestiae maiores corporis. Aspernatur numquam cum pariatur?</p>
        <h4>¿Por qué usamos Paypal?</h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam, consectetur.</p>
        <h4>¿Cómo crear una cuenta en Paypal?</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea officiis rem id fugit itaque cupiditate.
            <a href="https://www.paypal.com/pa/home">Ver Paypal</a>
        </p>
        
        <script src="/scriptLogin.js"></script>
    </body>
</html>