*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    --morado: #512888;
    --naranja: #eb6123;
    --blanco: #FFF;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(/bullterrier.png) no-repeat;
    background-size: cover;
    background-position: center;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 5rem;
    background-color: var(--morado);
    box-shadow: 0 .3rem .9rem rgba(0, 0, 0, 0.06);
    z-index: 99;
}

.hamburguesa{
    position: relative;
    display: block;
    width: 2.25rem;
    height: 2.25rem;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburguesa .bar,
.hamburguesa::after,
.hamburguesa::before{
    content: '';
    display: block;
    width: 100%;
    height: .313rem;
    background-color: var(--blanco);
    margin: .375rem 0;
    transition: .4s;
}

.hamburguesa.isActive::before{
    transform: rotate(-45deg) translate(-.5rem, .375rem);
}

.hamburguesa.isActive::after{
    transform: rotate(45deg) translate(-.563rem, -.5rem);
}

.hamburguesa.isActive .bar{
    opacity: 0;
}

.responsive{
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: var(--morado);
    padding-top: 7.5rem;
    transition: .4s; 
}

.responsive.isActive{
    left: 0;
}

.responsive a {
    display: block;
    width: 100%;
    max-width: 12.5rem;
    margin: 0 auto 1rem;
    text-align: center;
    padding: .75rem 1rem;
    border-radius: 1rem;
    background-color: #9261d1; 
    color: var(--blanco);
    text-decoration: none;
}

.responsive a:hover{
    background-color: var(--naranja);
}

@media (min-width:51.875rem){
    .hamburguesa{
        display: none;
    }

    .responsive{
        display: none;
    }
}

@media (max-width:51.875rem){
    .navbar{
        display: none;
    }
}

.navbar a{
    position: relative;
    margin-left: 3rem;
    font-weight: 600;
    font-size: 1.1em;
    text-decoration: none;

    color: #0000;
    background: 
      linear-gradient(90deg,var(--naranja) 50%,var(--blanco) 0) 
      var(--_p,100%)/200% no-repeat;
    -webkit-background-clip: text;
            background-clip: text;
    transition: .3s;
}
  .navbar a:hover {
    --_p: 0%;
}

.wrapper{
    position: relative;
    width: 25rem;
    height: 27.5rem;
    background: transparent;
    border: 0.19rem solid var(--morado);
    border-radius: 1.3rem;
    backdrop-filter: blur(1.3rem);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height .3s ease;
    overflow: hidden;
}

.wrapper.active{
    height: 32.5rem;
}

.wrapper .form{
    width: 100%;
    padding: 2.5rem;
}

.wrapper .form.Login{
     /*display: none;*/
    transition: transform .18s ease;
    transform: translateX(0rem);
}

.wrapper.active .form.Login{
    /*display: none;*/
    transition: none;
    transform: translateX(-25rem);
}

.wrapper.active .form.Register{
    /*display: none;*/
    transition: transform .18s ease;
    transform: translateX(0rem);
}

.wrapper .form.Register{
    position: absolute;
    transform: translateX(25rem);
}

.form.Login h2, 
.form.Register h2{
    font-size: 2.5rem;
    color: var(--naranja);
    text-align: center;
    /*text-shadow: -.06rem 0 white, 0 .06rem white, .06rem 0 white, 0 -.06rem white;*/
}

.inputBox{
    position: relative;
    width: 100%;
    height: 2.8rem;
    border-bottom: .13rem solid var(--morado);
    margin: 1.875rem 0;
}

.inputBox label{
    position: absolute;
    top: 50%;
    left: .3rem;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: var(--morado);
    font-weight: 500;
    pointer-events: none;
    transition: .4s;
}

.inputBox input:focus~label,
.inputBox input:valid~label{
    top: .1rem;
}
.inputBox input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 2.19rem 0 .3rem;
}

.inputBox .icon{
    position: absolute;
    right: .5rem;
    font-size: 1.2em;
    color: var(--blanco);
    line-height: 3.56rem;
}

.forgotPassword{
    font-size: .9em;
    color: var(--blanco);
    font-weight: 500;
    margin: -.94rem 0 .94rem;
    display: flex;
    justify-content: center;
}

.forgotPassword a{
    color: var(--blanco);
    text-decoration: none;
}

.forgotPassword a:hover{
    text-decoration: underline;
    color: var(--naranja);
}

.btnLogin{
    width: 100%;
    height: 2.8rem;
    border: none;
    outline: none;
    border-radius: .4rem;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 500;
    color: var(--blanco);
    background-color: var(--naranja);
}

.btnLogin:hover{
    background-color: var(--morado);
    transition: .4s;
}

.crearCuenta{
    font-size: .9em;
    color: var(--blanco);
    text-align: center;
    font-weight: 500;
    margin: 1.53rem 0 .625rem;
}

.crearCuenta p a{
    color: var(--morado);
    text-decoration: none;
    font-weight: 600;
}

.crearCuenta p a:hover{
    text-decoration: underline;
    color: var(--naranja);
}
/*****************FIN DEL LOGIN*******************/

/********************Spinner loading*********************/
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--blanco);
    transition: opacity 0.75s, visibility 0.75s;
  }
  
  .loader--hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  .loader::after {
    content: "";
    width: 4.625rem;
    height: 4.625rem;
    border: .875rem solid var(--morado);
    border-top-color: var(--naranja);
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
  }
  
  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }
  

/********************Spinner loading*********************/

#welcome{
    background-image: url("/perroPaseo.jpg");
    height: 90vh;
    width: 100%;
    background-position: top 80% right -20%;
    background-size: cover;
    position: fixed;
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Slideshow container */
.slideshow-container {
    max-width: 500px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/****************INDEX DROPDOWN*************/
.acordeon{
    margin: 3.75rem;
    width: 51.875rem;
}

.acordeon li{
    list-style: none;
    width: 100%;
    margin: 1.25rem;
    padding: .625rem;
    border-radius: .5rem;
    background: var(--morado);
    box-shadow: .375rem .375rem .625rem .06rem rgba(0, 0, 0, 0.15),
                -.375rem -.375rem .625rem -.06rem rgba(255, 255, 255, 0.15);
}

.acordeon li label{
    display: flex;
    align-items: center;
    padding: .625rem;
    font-size: xx-large;
    font-weight: 400;
    color: var(--naranja);
    cursor: pointer;
}

.acordeon label::before{
    content: '+';
    margin-right: .625rem;
    font-weight: 700;
    font-size:xx-large;
}

input[type="radio"]{
    display: none;
}

.acordeon .contenidoAcordeon{
    color: var(--blanco);
    padding: 0 .625rem;
    line-height: 1.625rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s, padding .5s;
}

.acordeon input[type="radio"]:checked + label + .contenidoAcordeon{
    max-height: 25rem;
    padding: .625rem .625rem 1.25rem;
}

.acordeon input[type="radio"]:checked + label::before{
    content: '-';
}

.acordeon li button{
    color: var(--blanco);
    background-color: var(--naranja);
    border: none;
    outline: none;
    margin-top: 1rem;
    padding: 1.3rem;
    border-radius: .4rem;
    overflow: hidden;
}

.acordeon li button:hover{
    background-color: var(--blanco);
    color: var(--naranja);
}
/****************FIN INDEX DROPDOWN*************/

/***********CALENDARIO**************/
.calendly-inline-widget{
    position: relative;
    width: 74rem;
    height: 70rem;
    background: transparent;
    border: 0.19rem solid var(--morado);
    border-radius: 1.3rem;
    backdrop-filter: blur(1.3rem);
    display: flex;
    justify-content: center;
    align-items: center;
    /*transition: height .3s ease;*/
    overflow: hidden;
    margin: 0;
    padding: 0;
}
/***********FIN DE CALENDARIO**************/

/* INI ESTILOS PARA BOTONES EN CALENDARIO */
.btn {
    background: var(--morado);
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    font-family: Arial;
    color: var(--blanco);
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #9775c7;
    text-decoration: none;
  }
/* FIN ESTILOS PARA BOTONES EN CALENDARIO */
